.table-bg{
    background-color: #e2dfdf !important;
    th{
        background-color: transparent;
        font-size: 14px;
    }
    td{
        font-size: 14px;
    }
}

.tablescroll{
    overflow-x: auto;
}